@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-moss-darkest: #090C08;
  --color-moss-dark: #141C15;
  --color-moss-muted: #3A4D39;
  --color-moss-accent: #739072;

  --color-moss-glow: #A2FF86; 
  --color-ai-indigo: #818CF8;

  --spacing-18: 4.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
